body {
font-family: Tahoma, sans-serif;
}

table {
border-width: 2px;
border-style: inset;
border-color: #33CC00;
background-color: #CCFFCC;
}

h1 {
font-style: italic;
font-size: large;
font-weight: bold;
}

p {
font-size: small
}
